# ================================================================= Git Ignore Files/Directories =================================================================

node_modules

.env

backend/Public/UserProfileImages/*